ion-title {}

.Header {
    color: black;
    text-align: center;
}

ion-content {
    p {
        color: #d738ff;
        margin-right: 7.5px;
        margin-left: 5px;
    }
    ul {
        color: #808080;
        margin-right: 7.5px;
    }
}