<ion-header [translucent]="true">
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title chass="Header">Dicas e Cuidados</ion-title>
        <ion-buttons (click)="Deslogar()" slot="end" color="light" size="large">
            <ion-icon chass="Header" color="light" size="large" name="log-out"></ion-icon>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar color="primary">
            <ion-title style="color : white;" size="large"> Dicas e Cuidados </ion-title>
            <ion-buttons (click)="Deslogar()" slot="end" color="light" size="large">
                <ion-icon style="color : white;" color="light" size="large" name="log-out"></ion-icon>
            </ion-buttons>
        </ion-toolbar>
    </ion-header>

    <ion-content>


        <p> O câncer de mama pode ser percebido em fases iniciais, na maioria dos casos, por meio dos seguintes sinais e sintomas:</p>

        <ul>
            <li>Nódulo (caroço), fixo e geralmente indolor: é a principal manifestação da doença, estando presente em cerca de 90% dos casos quando o câncer é percebido pela própria mulher</li>

            <li>Pele da mama avermelhada, retraída ou parecida com casca de laranja Alterações no bico do peito (mamilo)</li>

            <li>Pequenos nódulos nas axilas ou no pescoço</li>

            <li>Saída espontânea de líquido anormal pelos mamilos</li>
        </ul>

        <p>Esses sinais e sintomas devem sempre ser investigados por um médico para que seja avaliado o risco de se tratar de câncer. É importante que as mulheres observem suas mamas sempre que se sentirem confortáveis para tal (seja no banho, no momento
            da troca de roupa ou em outra situação do cotidiano), sem técnica específica, valorizando a descoberta casual de pequenas alterações mamárias. Em caso de permanecerem as alterações, elas devem procurar logo os serviços de saúde para avaliação
            diagnóstica. A postura atenta das mulheres em relação à saúde das mamas é fundamental para a detecção precoce do câncer da mama.
            <p>


                <ion-button ion-button color="primary" type="submit" outline>

                    Últimas notícias

                </ion-button>
                <ion-card *ngFor=" let article of articles">
                    <a [href]="article.url">
                        <ion-img [src]="article.urlToImage"></ion-img>
                        <ion-card-header>
                            <ion-card-subtitle>{{article.publishedAt | date}}</ion-card-subtitle>
                            <ion-card-title>{{article.title}}</ion-card-title>
                        </ion-card-header>
                        <ion-card-content>{{article.description}}</ion-card-content>

                    </a>
                </ion-card>
    </ion-content>